:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(18,18,19,0.87);
  background-color: rgba(255,240,219,0.8);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: myFont;
  src: url('/src/fonts/Honey\ Jelly.otf');
}

body {
  font-family: myFont, Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
}
button{
  font-family: myFont, Arial, Helvetica, sans-serif;
}

.container{
  margin:0;
  margin-top:3.5rem;
  width:100vw;
}
